{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Athenas{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'athenas/css/base.css' %}" rel="stylesheet">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% include 'athenas/includes/_navbar.html' %}
  <main class="container mt-4">
    {% include 'athenas/includes/_messages.html' %}
    {% block content %}{% endblock %}
  </main>

  <footer class="app-footer contenedor mt-4">
    <small class="mb-0">Sistema Athenas - entorno local</small>
  </footer>
  {% block extra_js %}{% endblock %}
</body>
</html>
