{% extends "athenas/base.html" %}
{% block title %}Editar usuario{% endblock %}
{% block content %}

<section class="form-section">
  <div class="page-header">
    <h1>Editar usuario</h1>
  </div>
  <form method="post" class="form-section-content">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="page-actions mt-3">
      <button type="submit" class="btn btn-primary">Guardar cambios</button>
      <a href="{% url 'usuarios_lista' %}" class="btn">Cancelar</a>
    </div>
  </form>
</section>

{% endblock %}
